{% extends 'base.html.twig' %}

{% block body %}


    <form action="" method="post" >
        <input type="text" name="prenom" >
        <input type="text" name="nom" >
        <input type="submit">

    </form>

{% endblock %}

{% block title %}

{% endblock %}

